#page{
    text-align: center;
    font-family: 'Urbanist', 'Futura', 'Avenir', sans-serif;
    color: white;
    font-weight: lighter;
    background-color:black;
    margin-top: 10%;
}

main{
    margin: 0 auto;
    margin-top: -5%;
    text-align: center;
    max-width: 800px;
    align-items: center;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 20px;
    font-weight: lighter;
    margin-top: 50px;
}

img{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

a{
    color: white;
}

.roles{
    position: relative;
    top: 40px;
    font-size: 30px;
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

#admin{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
}

#back{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: small;
}

footer{
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
}